[workspace]
members = ["gawcore", "gwctl"]

[package]
name = "gawires"
version = "0.1.0"
edition = "2021"
authors = ["Vincent Roy"]
license = "GPLv3"
readme = "README.md"
repository = "https://github.com/metakernel/Gawires"
default-run = "gaw"

[[bin]]
name = "gaw"
path = "src/main.rs"

[lib]
name = "gawires"
path = "src/lib.rs"

[dependencies]
gawcore ={ path = "./gawcore"}
gwctl ={ path = "./gwctl"}

clap ={workspace = true}
paw = {workspace = true}

[workspace.dependencies]
notify = "7.0.0"
interprocess = "2.2.1"
dirs = "5.0.1"
petgraph = "0.6.5"
blake2 = "0.10.6"

clap = {version = "4.5.15", features = ["derive"]}
paw = "1.0.0"
axum = "0.7.5"
